services:
  nginx:
    image: nginx:latest
    container_name: nginx_insurance
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - postgres
    env_file:
      - .env

  php:
    build: ./php
    container_name: php_insurance
    volumes:
      - ./src:/var/www/html
    env_file:
      - .env

  postgres:
    image: postgres:17
    container_name: pg_insurance
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: company
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
